@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-black: #111111;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: auto;
    font-family: 'Roboto', sans-serif;
 }

 header {
    display: flex;
}

.logo-header img {
    margin: 36.1px 122.4px 30px 231px;
    opacity: 100%;
}

.links-header {
    margin: 32px;
    opacity: 100%;
}

.links-header a {
    margin: 32px;
    text-decoration: none;
    color: var(--color-black);
    font-size: 16px;
}

/*=== SECTION ===*/
.container-rectangle {
    position: relative;
    margin-left: 230px;
    width: 940px;
    height: 366px;
    background: #FBDFDB;
    border-radius: 30px;
}

.title-rectangle {
    padding-top: 117px;
    padding-left: 60px;
    width: 350px;
    line-height: 38px;
    font-size: 32px;
    color: var(--color-black);
    font-family: Roboto Bold;
    margin-bottom: 10px;
}

.p-rectangle p {
    padding-left: 60px;
    text-align: justify;
    opacity: 0.7;
    font-family: Roboto Regular;
    color: #000000;
    font-size: 18px;
    width: 340px;
    height: 84px;
    line-height: 28px;  
}

.main-image img {
    position: absolute;
    top: 66px;
    left: 624px;
    right: 100px;
}

