@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root {
    --color-purple: #6C4FBB;
    --color-whitesmoke: whitesmoke;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background: #333;
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-size: 100%;
}

header {
    padding: 30px;
    border-bottom: 1px solid var(--color-purple);
    background: rgba(0, 0, 0, 0.274);
}

header div {
    text-align: center;
}

.links a {
    font-size: 18px;
    line-height: 28px;
    margin: 0 30px;
    text-decoration: none;
    color: var(--color-whitesmoke);
}

.links a:hover {
    color: var(--color-purple);
    transition: color 200ms;
    border-bottom: 1px solid var(--color-purple);
}

/*fim do index*/

.head h2 {
    color: var(--color-whitesmoke);
    padding: 12px;
    font-size: 36px;
    line-height: 48px;
}

.links img {
    border-radius: 50%;
}

.corpo {
    text-align: center;
}

.content h2, p, ul {
    color: var(--color-whitesmoke);
    margin: 0 auto;
    padding: 12px;
    max-width: 500px;
    text-align: justify;
}

.content h2 {
    font-size: 36px;
    line-height: 48px;
}

.content p {
    font-size: 20px;
    line-height: 32px;
}

.content ul {
    font-size: 20px;
    line-height: 32px;
}

/*fim do about*/